<app-page-layout>
  <div class="content-layout">
    <div class="content__body">
      <mat-card *ngIf="item" (ngModel)="item" class="card">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>${{item.price}} / {{item.year}} / <a [routerLink]="['/movies/edit', item.id]"
              class="vertical-mid">{{ item.id }}</a>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="{{ item.poster }}" alt="poster" />
        </mat-card-content>
      </mat-card>
      <div *ngIf="item && item.movieRatings && item.movieRatings.length > 0" class="movie-ratings-row">
        <mat-card *ngFor="let rating of item.movieRatings" class="card movie-rating-card half-width">
          <mat-card-content>
            <div>Rated: {{ rating.rated }}</div>
            <div>Released: {{ rating.released | date }}</div>
            <div>Runtime: {{ rating.runtime }}</div>
            <div>Genre: {{ rating.genre }}</div>
            <div>Director: {{ rating.director }}</div>
            <div>Language: {{ rating.language }}</div>
            <div>Metascore: {{ rating.metascore }}</div>
            <div>Rating: {{ rating.rating }}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="spacer"></div>
      <button type="button" mat-raised-button (click)="goBack()">Back</button>
      <pre *ngIf="!item">{{ message }}</pre>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</app-page-layout>