<app-page-layout>
  <div class="content-layout">
    <h1 class="content__title">
      <a href="assets/movies.json" target="_blank">JSON File</a>
    </h1>
    <div class="content__body">
      <p id="page-description">
        <span>All users can view this public page.</span>
      </p>
      <mat-card *ngFor="let movie of items" class="card">
        <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>${{movie.price}} / {{movie.year}} / <a [routerLink]="['/movies', movie.id]" class="vertical-mid">{{ movie.id }}</a>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="{{ movie.poster }}" alt="poster" />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-page-layout>
