<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">
      <a href="{{ starwarsApiUrl }}" target="_blank">StarWars API</a>
    </h1>
    <div class="content__body">
      <div class="generate-bar">
        <p id="page-description">
          <span>Authenticated users only can view this page.</span>
        </p>
        <button type="button" mat-raised-button (click)="generate()">
          <mat-icon>wifi_protected_setup</mat-icon>
          <span>Generate</span>
        </button>
      </div>
      <div *ngIf="items.length > 0" class="movie-grid">
        <mat-card *ngFor="let item of items" class="movie-card">
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>${{item.price}} / {{item.year}} / <a [routerLink]="['/movies', item.id]" class="vertical-mid">{{ item.id }}</a>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <a [routerLink]="['/movies', item.id]" class="vertical-mid">
              <img mat-card-image [src]="item.poster" alt="{{ item.title }} poster" style="object-fit:cover;max-height:200px;">
            </a>
          </mat-card-content>
          <mat-card-actions>
            <a color="primary" [routerLink]="['/movies/edit', item.id]" mat-icon-button title="Edit"><mat-icon>edit</mat-icon></a>
            <a color="primary" href="javascript:void(0);" (click)="delete(item.id)" mat-icon-button title="Delete"><mat-icon>delete</mat-icon></a>
          </mat-card-actions>
        </mat-card>
      </div>      
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</app-page-layout>