<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Secured Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span>Authenticated users with <code>[read:messages]</code> permission can view this page.</span>
      </p>
      <div class="search-bar" *ngIf="items.length > 0">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($any($event).target.value)" placeholder="Search">
        </mat-form-field>
        <button type="button" mat-raised-button (click)="generate()">
          <mat-icon>wifi_protected_setup</mat-icon>
          <span>Generate</span>
        </button>
      </div>
      <table mat-table matSort *ngIf="items.length > 0" [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let item"> <a [routerLink]="['/movies', item.id]">{{ item.id }}</a> </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let item"> {{item.title}} </td>
        </ng-container>
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Year</th>
          <td mat-cell *matCellDef="let item"> {{item.year}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let item"> {{item.price | currency:"USD":"symbol":"1.2-2"}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
          <td mat-cell *matCellDef="let item">
            <a [routerLink]="['/movies/edit', item.id]" mat-icon-button title="Edit"
              (click)="$event.stopPropagation()"><mat-icon>edit</mat-icon></a>
            <a href="javascript:void(0);" (click)="delete(item.id); $event.stopPropagation()" mat-icon-button
              title="Delete"><mat-icon>delete</mat-icon></a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator *ngIf="items.length > 0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>      
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</app-page-layout>