<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Admin Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span>Authenticated users with the <code>read:messages</code> permission can view this page.</span>
      </p>
      <table *ngIf="items.length > 0" class="table table-bordred table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Poster</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of items">
            <td>
              <a href="javascript:;" class="vertical-mid">{{ movie.id }}</a>
            </td>
            <td>{{ movie.title }}</td>
            <td>
              <a href="{{movie.poster}}" target="_blank" class="vertical-mid">{{ movie.poster }}</a>
            </td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.price | currency }}</td>
          </tr>
        </tbody>
      </table>
      <a *ngIf="items.length > 0" [routerLink]="['/profile']" class="btn btn-primary">Profile</a>
      <pre *ngIf="!loading">{{ message }}</pre>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </div>
</app-page-layout>